#list{
    color: white;
    font-size: 1.6rem;
    /* margin-bottom: 2px; */
    /* left: -0.5%; */
    position: relative;
    padding-left: 5px;
    border-radius: 5px;
    padding-right: 5px;
    background-color: #1a4c79;
    transition: transform .2s;
}
#list:hover{
    transition-duration: 2200ms;
    transition-delay: 2200ms;
    cursor: pointer;
    background-color: #123f66;
}

/* search bar */
.search-bar{
    position: relative;
    width: 500px;
    height: 80%;
    margin-top: 0.2rem;
    margin-left: 100px;
    top: 4%;
}

#search{
    background-color: #1a4c79;
    width: 100%;
    left: 40%;
    border: none;
    transform: translate(-50% 0%);

}

#search:focus{
    background-color: aliceblue;
}

.sspan {
    color: #0e82e7;
    font-size: 1rem;
    position: absolute;
    left: 7px;
    top: calc(50% - 0.75em);
    padding: 0 10px;
}


/* nav bar */
.nav-text{
    color: white;
    left: 50%;
    transform: translate(0%, 10%);
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
}

.loader-container{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.loader{
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #3498db;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.3s linear infinite;
}

.rounded{
    left: -1%;
    width: 500px;
    height: 550px;
}


.activity{
    font-size: 1.6rem;
    margin-top: 0.09rem;
    color: white;
    margin-left: 20px;
    background-color:#205c91;
    border-radius: 5px;
    padding: 0px 6px;
    transition: transform .6s;
}

.activity:hover{
    cursor: pointer;
    transform: rotate(180deg);
    background-color: #e91e63;
}
/* .activity:hover i{
    transform: rotate(180deg);
} */

.noti{
    font-size: 1.6rem;
    margin-top: 0.09rem;
    color: white;
    margin-left: 20px;
    background-color:#205c91;
    border-radius: 5px;
    transition: transform .4s;
    padding: 0px 6px;
}

.noti:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #c33ada;
}

.app{
    margin-top: 0.09rem;
    font-size: 1.6rem;
    color: white;
    margin-left: 20px;
    background-color:#205c91;
    border-radius: 5px;
    transition: transform .6s;
    padding: 0px 6px;
}

.app:hover{
    transform: rotate(180deg);
    cursor: pointer;
    background-color: #ff9800;
}

.v1 {
    margin-left: 20px;
    border-left: 1px solid white;
    height: 50px;
  }

/* avatar */
#avatar{
    width:  40px;
    top: 0;
    height: 40px;

}

#profile{
    margin-bottom: 0px;
    transition: transform 0.2s;
}

#profile:hover{
    transform: scale(1.06);
    cursor: pointer;
}

/* vertical navbar */
.vertical-nav{
    width: 50px;
    height: 100vh;
    border-right: 2px solid #e91e63;
    background-color: #191927;
    position: fixed;
    overflow: auto;
}

.nav-icon{
    margin-left: 0px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    float: left;
    transition: transform .3s;
}

.nav-head{
    font-family: 'Butterfly Kids', cursive;
    font-size: 20px;
    color: white;
    margin-top: 26px;
    margin-left: 8px;
    float: left;
    display: none;
}

.vertical-nav-li{
    transition: transform 0.2s;
}
.vertical-nav-li:hover span{
    color: #e91e63;
    transform: scale(1.05);
}
.vertical-nav-li:hover i{
    border-bottom: 2px solid #e91e63;
    transform: rotate(360deg);
}

.active{
    font-size: 22px;
    color: #e91e63;
}

.main{
    color: white;
    position: absolute;
    left: 70px;
    right: 20px;
    bottom: 0;
    height: 100%;
    top: 12%;
}

.main h4{
    color: white;
}


@keyframes loader{
    25%{
        color: #2ecc71;
    }
    50%{
        color: #f1c40f;
    }
    75%{
        color: #e74c3c;
    }
    to{
        transform: rotate(360deg);
    }
}

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #10385c;; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #265e8f; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #205c91; 
  }

@media only screen and (max-width: 1060px){
    .search-bar{
        width: 400px;
        margin-left: 60px;
        margin-bottom: 1px;
    }
    .activity{
        margin-left: 10px;
    }
    .noti{
        margin-left: 6px;
    }
    .app{
        margin-left: 6px;
    }
}

@media only screen and (max-width: 992px){
    .search-bar{
        width: 70%;
        margin-left: 60px;
        margin-bottom: 10px;
    }
    .nav-text{
        font-size: 24px;
    }
    #avatar{
        width:  45px;
        height: 45px;
    }

    #profile{
        margin-left: 56px;
    }

    #user-name{
        font-size: 18px;
        margin-top: 10px;
    }
    .activity{
        margin-left: 60px;
        margin-bottom: 10px;
        width: 38px;
    }
    .noti{
        margin-left: 60px;
        margin-bottom: 10px;
        width: 38px;
    }
    .app{
        margin-left: 60px;
        margin-bottom: 10px;
        width: 38px;
    }
    .v1 {
        display: none;
    }
}

.start-card{
    background-color: #191927;
    border-color: rgb(92, 91, 91);
}

.start-card h5{
    font-size: x-large;
    text-align: center;
}

.start-card p{
    font-weight: 700;
    font-size: x-large;
    margin-top: 5vh;
    text-align: center;
}

.start-card:hover{
    cursor: pointer;
}

.chart-card{
    background-color:#222230;
    border-color: rgb(92, 91, 91);
}

.chart-card h4{
    text-align: center;
}

.ongoing-projects-card{
    background-color:#222230;
    border-color: rgb(92, 91, 91);
}

.project-head{
    font-weight: 900;
    font-size: larger;
}

.project-subhead{
    font-weight: 700;
    font-size: large;
}

.project-progress{
    margin-left: 3vh;
    font-size: 14px;

}

.task-schedule-card{
    background-color:#222230;
    border-color: rgb(92, 91, 91);
}

.task-schedule-head{
    font-weight: 900;
    font-size: larger;
}

.task-check:checked + .task-label{
    text-decoration: line-through;
}

.footer{
    text-align: center;
    position: relative;
    bottom: 0%;
}