<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!--Jquery CDN-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!--Ajax CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    <!--CSS Files-->
    <link rel="stylesheet" href="../static/css/home.css">

    <title>Coders Trek</title>
</head>
<body>

    <!-- Pre Loader -->
    <div class="loader-container">
        <div class="loader"></div>
    </div>

    <!-- Navbar Start -->
    <nav class="navbar fixed-top navbar-light" style="background-color: #092742;">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-family: Arial, Helvetica, sans-serif;color:white;" href="#">
                <img src="../static/images/2.jpg" style="border-radius: 50%;" width="30" height="30" class="d-inline-block align-top"
                    alt="">
                Home
            </a>
            <form class="d-flex">
                <a id="login" class="btn btn-outline-info me-3">Log In</a>
                <a id="signup" class="btn btn-outline-info" >Sign In</a>
            </form>
        </div>
    </nav>

    <!-- Header Image -->
    <div style="background-color: #001a33;" class="row mt-3 pt-3 align-items-center">
        <div class="col-6 ps-5" style="color: white;">
            <span class="heading">CODERS</span> <br>
            <span class="heading">TREK</span> <br>
            <span class="sub-heading">Home for Your Programming Journey</span>
            
        </div>
        <div class="col-6 car-img">
            <img class="img-fluid" src="../static/images/1.1.png" alt="header">
        </div>
        <img class="car-img-2" src="../static/images/3.1.png" alt="">
    </div>
    <br>

    <center><h1 style="color: white;">WELCOME</h1></center>
    <br> <br> <br> <br> <br> <br> <br> <br> <br>


    <!--JS Files-->
    <script src="../static/js/loader.js"></script>
</body>
</html>