<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!--Jquery CDN-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!--Ajax CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    <!--AnimXYZ CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@animxyz/core@0.4.0/dist/animxyz.min.css">


    <!--FontAwsome CDN-->
    <script src="https://kit.fontawesome.com/c23041b8ac.js" crossorigin="anonymous"></script>

    <!--Chart.js CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!--CSS Files-->
    <link rel="stylesheet" href="../static/css/main.css">

    <title>Coders Trek Home</title>

</head>

<body style="background-color:#191927;">

    <!--Loader-->
    <div class="loader-container">
        <div class="loader"></div>
    </div>
                
    <!--Navbar Horizontal-->
    <nav id="hnav" class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #092742;">
        <div class="container-fluid">
            <a class="navbar-brand" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i id="list" class="bi bi-list"></i>
                <span style="color:white; font-size: 22px; top:0">CODERS TREK</span>
            </a>
            <!-- <button style="border: none;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span style="color:white; font-size: 32px;" class="bi bi-three-dots-vertical">
                </span>
            </button> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item">
                        <form class="d-flex search-bar">
                            <label for="search" class="bi bi-search sspan"></label>
                            <input class="form-control me-2" name="search" id="search" type="search" aria-label="Search">
                        </form>
                    </li>
                    <li class="nav-item">
                        <div class="activity">
                            <i class="bi bi-disc-fill"></i>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="noti">
                            <i class="bi bi-envelope-open-fill"></i>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="app">
                            <i class="bi bi-grid-fill"></i>
                        </div>
                    </li>
                </ul>
                <span>
                    <div id="profile">
                        <img id="avatar"
                            src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=Blue03&eyeType=Default&eyebrowType=Default&mouthType=Smile&skinColor=Brown' />
                    </div>
                </span>
            </div>
        </div>
    </nav>

    <br>
    <!--Vertical Navbar-->
    <div class="vertical-nav mt-4">
        <ul style="margin: 0; padding: 14px;">
            <li style="display: flex;">
                <a class="vertical-nav-li" href="#">
                    <i class="fas fa-home nav-icon active"></i>
                    <span class="nav-head active"> Dashboard</span>
                </a>
            </li>
            <li style="display: flex;">
                <a class="vertical-nav-li" href="#">
                    <i class="fas fa-users nav-icon"></i>
                    <span class="nav-head"> Teams</span>
                </a>
            </li>
            <li style="display: flex;">
                <a class="vertical-nav-li" href="#">
                    <i class="fas fa-tasks nav-icon"></i>
                    <span class="nav-head"> Tasks</span>
                </a> <br>
            </li>
            <li style="display: flex;">
                <a class="vertical-nav-li" href="#">
                    <i class="fas fa-rss nav-icon"></i>
                    <span class="nav-head"> Feeds</span>
                </a>
            </li>
            <li style="display: flex;">
                <a class="vertical-nav-li" href="#">
                    <i class="fas fa-chart-bar nav-icon"></i>
                    <span class="nav-head"> Analytics</span>
                </a>
            </li>
        </ul>
    </div>


    <!--Main Content-->
    <div class="main">

        <!--Welcome Heading-->
        <h4 style="font-family: 'Yanone Kaffeesatz', sans-serif">Hi, Pro Coder</h4>
        <span style="font-family: 'Butterfly Kids', cursive;">Here’s what’s happening with your Coding Trek today.</span>
        <br><br><br>

        <!--Updates Cards-->
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <div class="card bg-gradient-primary start-card">
                    <div class="card-body">
                        <h5 class="card-title">Projects</h5>
                        <p><i class="fas fa-project-diagram"></i> 12</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-gradient-success start-card">
                    <div class="card-body">
                        <h5 class="card-title">Tasks</h5>
                        <p><i class="fas fa-tasks"></i> 8</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-gradient-danger start-card">
                    <div class="card-body">
                        <h5 class="card-title">Notifications</h5>
                        <p><i class="fas fa-bell"></i> 6</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <!--Charts-->
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-4">
                <div id="my-card-chart" class="card card-fluid">
                    <div class="card-body chart-card card-outline-primary">
                        <h4 class="card-title mb-4"> Completion Tasks </h4>
                        <div class="chartjs" style="height: 400px">
                            <canvas id="completion-tasks" style="display: block; width: 311px; height: 292px;" width="311" height="292" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-xl-4">
                <div class="card card-fluid">
                    <div class="card-body chart-card card-outline-success">
                        <h4 class="card-title mb-4">Task Performance</h4>
                        <div class="chartjs" style="height: 400px">
                            <canvas id="task-performance" style="display: block; width: 311px; height: 292px;" width="311" height="292" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-xl-4">
                <div class="card card-fluid">
                    <div class="card-body chart-card card-outline-danger">
                        <h4 class="card-title mb-4">Leadboard</h4>
                        <div class="chartjs" style="height: 400px">
                            <canvas id="leadboard" style="display: block; width: 311px; height: 292px;" width="311" height="292" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Task and Activity Deatils Cards-->
        <br><br>
        <div class="row">

            <!--Project Detail Card-->
            <div class="col-12 col-lg-12 col-xl-6">
                <div class="card card-fluid">
                    <div class="card-body ongoing-projects-card">
                        <span class="project-head">Active Projects</span>
                        <hr>
                        <span class="project-subhead">Hackerrank Python Problems</span><br>
                        <span class="project-progress">Progress - 64%</span>
                        <div class="progress" style="height: 2vh;margin-left:3vh;margin-top:2vh;">
                            <div class="progress-bar" role="progressbar" style="width: 64%;" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
                        </div><br>

                        <span class="project-subhead">Hackerrank Python Problems</span><br>
                        <span class="project-progress">Progress - 64%</span>
                        <div class="progress" style="height: 2vh;margin-left:3vh;margin-top:2vh;">
                            <div class="progress-bar" role="progressbar" style="width: 64%;" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
                        </div><br>

                        <span class="project-subhead">Hackerrank Python Problems</span><br>
                        <span class="project-progress">Progress - 64%</span>
                        <div class="progress" style="height: 2vh;margin-left:3vh;margin-top:2vh;">
                            <div class="progress-bar" role="progressbar" style="width: 64%;" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
                        </div><br>

                        <span class="project-subhead">Hackerrank Python Problems</span><br>
                        <span class="project-progress">Progress - 64%</span>
                        <div class="progress" style="height: 2vh;margin-left:3vh;margin-top:2vh;">
                            <div class="progress-bar" role="progressbar" style="width: 64%;" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
                        </div><br>

                        <span class="project-subhead">Hackerrank Python Problems</span><br>
                        <span class="project-progress">Progress - 64%</span>
                        <div class="progress" style="height: 2vh;margin-left:3vh;margin-top:2vh;">
                            <div class="progress-bar" role="progressbar" style="width: 64%;" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
                        </div><br>
                    </div>
                </div>
            </div> 

            <!-- Task Detail Card -->
            <div class="col-12 col-lg-12 col-xl-6">
                <div class="card card-fluid">
                    <div class="card-body task-schedule-card">
                        <span class="task-schedule-head">Ongoing Tasks</span>
                        <hr>
                        <div class="form-check mb-4">
                            <input class="form-check-input task-check" style="background-color: #343438;padding:1.2vh;border-color:white;margin-right:2vh;" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label task-label" for="flexCheckDefault">
                              Default checkbox
                            </label>
                        </div>

                        <div class="form-check mb-4">
                            <input class="form-check-input task-check" style="background-color: #343438;padding:1.2vh;border-color:white;margin-right:2vh;" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label task-label" for="flexCheckDefault">
                              Default checkbox
                            </label>
                        </div>

                        <div class="form-check mb-4">
                            <input class="form-check-input task-check" style="background-color: #343438;padding:1.2vh;border-color:white;margin-right:2vh;" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label task-label" for="flexCheckDefault">
                              Default checkbox
                            </label>
                        </div>

                        <div class="form-check mb-4">
                            <input class="form-check-input task-check" style="background-color: #343438;padding:1.2vh;border-color:white;margin-right:2vh;" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label task-label" for="flexCheckDefault">
                              Default checkbox
                            </label>
                        </div>

                        <div class="form-check mb-4">
                            <input class="form-check-input task-check" style="background-color: #343438;padding:1.2vh;border-color:white;margin-right:2vh;" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label task-label" for="flexCheckDefault">
                              Default checkbox
                            </label>
                        </div>

                        <div class="form-check mb-4">
                            <input class="form-check-input task-check" style="background-color: #343438;padding:1.2vh;border-color:white;margin-right:2vh;" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label task-label" for="flexCheckDefault">
                              Default checkbox
                            </label>
                        </div>

                        <div class="form-check mb-4">
                            <input class="form-check-input task-check" style="background-color: #343438;padding:1.2vh;border-color:white;margin-right:2vh;" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label task-label" for="flexCheckDefault">
                              Default checkbox
                            </label>
                        </div>

                        <div class="form-check mb-4">
                            <input class="form-check-input task-check" style="background-color: #343438;padding:1.2vh;border-color:white;margin-right:2vh;" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label task-label" for="flexCheckDefault">
                              Default checkbox
                            </label>
                        </div>
                        
                    </div>
                </div>
            </div>

            <br><br>
        </div>       

        <br><br>

         <!-- Footer -->
         <footer class="footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="text-muted" href="#">Support</a>
              </li>
              <li class="list-inline-item">
                <a class="text-muted" href="#">Help Center</a>
              </li>
              <li class="list-inline-item">
                <a class="text-muted" href="#">Privacy</a>
              </li>
              <li class="list-inline-item">
                <a class="text-muted" href="#">Terms of Service</a>
              </li>
            </ul>
            <div class="copyright"> Copyright © 2021. All right reserved. </div>
        </footer>

    </div>

    <!--JS Files-->
    <script src="../static/js/loader.js"></script> 
    <script src="../static/js/main.js"></script>
</body>
</html>